ody {
    font-family: Arial;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.q-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.heading{

    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
    color: blue;
    padding: auto;
    padding: 20px 5px 20px 30px;
    margin: 2px 5px 2px 5px ;

}

button{ 
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pvs-btn{
    background-color: blue;
    color:black;

}

.pvs-btn:hover{
    background-color: blue;
    color: white;
 



}
 
.next-btn:hover{
    background-color: green;
    color: white;
   
}
.next-btn{
    background-color: green;
    color:black;
   
}
.submit-btn:hover{
    color: white;
    background-color: red;
    
    

}
.submit-btn{
    color: white;
    background-color: red;
    color:black;
    
    

}